@import 'tailwindcss';

:root {
  --background: #f3f7ff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

main {
  margin-top: 112px;
}

body {
  padding-inline: 10%;
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
